html,
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #444;
  color: #fff;
}

* {
  box-sizing: border-box;
}

:root {
  --area-porta-altura: 310px;
  --area-porta-largura: 200px;
}